* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1 {
  margin: 0;
  font-size: 28px;
}

main .pdv{
  display: flex;
}

main .pdv .painel{
background-color: aquamarine;
width: 500px;
height: 500px;
border-radius: 1em 0px 1em 0px;
}

main .abas button{
  border: none;
  display: flex;
  width: 10em;
  height: 6em;
  display: flex;
  align-items: center;
  text-align: center !important;
}

main .abas .aba_venda{
  background-color: yellow;
}

main .abas .aba_delivery{
  background-color: greenyellow;
}

main .painel_de_botoes button{
  appearance: none;
  border: none;
  outline: none;
}